* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:linear-gradient(135deg, #ff3232 0%,#e89c40 100%);
}
.container {
  margin: 0 auto;
  width: 70%;
  height: 100vh;
}
.wrapGiocatori {
  display: flex;
}
.giocatore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.giocatore h2 {
  margin-bottom: 20px;
  font-size: 50px;
  text-transform: capitalize;
}
.giocatore h1 {
  font-size: 70px;
}
.giocatore h3 {
  color: #fff;;
  margin-top: 20px;

}
